.button {
  border: none;
  border-radius: 10px;
  height: 38px;
  padding: 0 25px;
  padding-bottom: 3px;
  font-size: 0.9em;
  font-weight: 400;
  font-family: var(--font-family);
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  transition: all .2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  &:active,
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.disabled {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  cursor: default;
}
.disabled:hover {
  background-color: rgba(0, 0, 0, 0.3);
}