.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  label > {
    width: 100%;
    transition: all .3s ease-in-out;
  }
  textarea,
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    resize: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    font-family: var(--font-family);
  }
}

.container textarea:focus,
.container input:focus {
  background-color: #ffffff;
}

.error {
  color: #f55;
  transition: all .3s ease-in-out;
}