.container{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  color: #c3a7a7;
  cursor: default;
  font-weight: bold;
  text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.active{
  font-size: 1.1em;
  color: rgb(255, 255, 255);
}

.default{
  font-size: 0.9em;
  cursor: pointer;
}

.container {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}