.container {
  width: 100%;
  background-color: #185275;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.wrapper {
  display: flex;
  padding: 0 2.5%;
  padding-bottom: 5%;
  max-width: 2000px;
  margin: 0 auto;
}
.wrapper hr {
  border: none;
  border-left: 5px dotted rgba(255, 255, 255, 0.2);
}
.wrapper h1 {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 25px;
  font-weight: 400;
  color: #f5deb3;
}

.chromeFix {
  top: -2px;
  position: relative;
  background-color: #185275;
  height: 4px;
}

.mainTitle {
  margin: 0 auto;
  max-width: 2000px;
  padding: 2.5%;
  font-size: 4em;
  color: #ffffff;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1;
  padding-right: 2.5%;
}
.extLinks button {
  margin: 10px 0;
  margin-right: 10px;
}
.extLinks button:last-child {
  margin-right: 0;
}
.error {
  color: #f55;
  transition: all .3s ease-in-out;
}

.extLinks {
  flex: 1;
  padding-left: 2.5%;
}
.extLinks nav {
  margin-top: 25px;
}
.extLinks nav > div {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .mainTitle {
    font-size: 2.5em;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper hr {
    border: none;
    width: 90%;
    border-top: 5px dotted rgba(255, 255, 255, 0.2);
  }
  .formContainer,
  .extLinks {
    padding: 5%;
  }
}