.container {
  width: 100%;
  background-color: #185275;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.wrapper {
  display: flex;
  padding: 0 2.5%;
  padding-bottom: 5%;
  max-width: 2000px;
  margin: 0 auto;
}
.wrapper hr {
  border: none;
  border-left: 5px dotted rgba(255, 255, 255, 0.2);
}
.wrapper h1 {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  color: #f5deb3;
}

.chromeFix {
  top: -2px;
  position: relative;
  background-color: #185275;
  height: 4px;
}

.mainTitle {
  margin: 0 auto;
  max-width: 2000px;
  padding: 2.5%;
  font-size: 4em;
  color: #ffffff;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1;
  padding-right: 2.5%;
}
.formContainer > label {
  width: 100%;
  transition: all .3s ease-in-out;
}
.formContainer > textarea,
.formContainer > input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  resize: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}
.formContainer > textarea:focus,
.formContainer > input:focus {
  background-color: #ffffff;
}
.button {
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px 30px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out;
  appearance: none;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.button:last-child {
  margin-right: 0;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.disabled:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.error {
  color: #f55;
  transition: all .3s ease-in-out;
}

.extLinks {
  flex: 1;
  padding-left: 2.5%;
}
.extLinks nav {
  margin-top: 50px;
}
.extLinks nav > div {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .mainTitle {
    font-size: 2.5em;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper hr {
    border: none;
    width: 90%;
    border-top: 5px dotted rgba(255, 255, 255, 0.2);
  }
  .formContainer,
  .extLinks {
    padding: 5%;
  }
}