.container {
  width: 100%;
  background-color: #185275;
  color: rgba(255, 255, 255, 0.8);
}
.wrapper {
  display: flex;
  padding: 0 2.5%;
  padding-bottom: 5%;
  max-width: 2600px;
  margin: 0 auto;
}

.mainTitle {
  margin: 0;
  padding: 2.5%;
  font-size: 4em;
  color: #ffffff;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1;
  padding-right: 2.5%;
}
.formContainer > label {
  width: 100%;
}
.formContainer > textarea,
.formContainer > input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  resize: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}
.formContainer > textarea:focus,
.formContainer > input:focus {
  background-color: #ffffff;
}
.sendButton {
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px 30px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.error {
  color: #ff3b3b;
  transition: all .3s ease-in-out;
}

.extLinks {
  flex: 1;
  padding-left: 2.5%;
}

@media screen and (max-width: 1200px) {
  .mainTitle {
    font-size: 2.5em;
  }
  .wrapper {
    flex-direction: column;
  }
  .formContainer,
  .extLinks {
    padding: 5%;
  }
}