.background{
  background-image: url('/header.jpg');
  background-size: cover;
  background-position: bottom;
}

.container{
  background-color: rgba(79, 62, 54, 0.82);
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  max-width: 2000px;
  margin: 0 auto;
}

.text{
  flex: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.text > div{
  will-change: transform;
}
.text h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  color: var(--main-color);
  margin: 0 4%;
  margin-top: 5%;
}
.text h2{
  font-size: 6em;
  margin: 0 10%;
  margin-top: -5%;
  padding-bottom: 15%;
  text-transform: uppercase;
  word-wrap: break-word;
}
.buttonWrapper {
  margin: 0 auto;
}
.button {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.3s;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.button:hover {
  color: #fff;
  border-color: #fff;
  opacity: 75%;
}

.pictureWrapper{
  flex: 1;
  height: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.picture{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
}
.filter{
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: rgba(53, 45, 42, 0.3);
}

@media screen and (max-width: 1400px) {
  .text h2{
    font-size: 5em;
  }
}
@media screen and (max-width: 1200px) {
  .text h1{
    font-size: 2em;
  }
  .text h2{
    font-size: 4em;
  }
}
@media screen and (max-width: 900px) {
  .text h2{
    font-size: 3.5em;
  }
}
@media screen and (max-width: 800px) {
  .text h2{
    font-size: 3em;
  }
}
@media screen and (max-width: 700px) {
  .pictureWrapper,
  .picture{
    display: none;
  }
  .background{
    background-image: url('../public/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .container{
    background-color: rgba(53, 45, 42, 0.72);
  }
  .text h2{
    margin-top: 5%;
  }
}
@media screen and (max-width: 400px) {
  .text h2{
    margin-top: 10%;
    font-size: 2.6em;
  }
}

.text h1,
.text h2,
.button,
.picture {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}