.container{
  position: absolute;
  padding: 20px;
  color: var(--main-color);
  cursor: default;
}

.active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.default{
  font-size: 0.8em;
  cursor: pointer;
}