.container{
  position: absolute;
  padding: 20px;
  color: var(--main-color);
  cursor: default;
}

.active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.default{
  font-size: 0.8em;
  cursor: pointer;
}

.container {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}