.container {
  background-image: url('/patterns/portfolio.png');
  color: #dfd1c9;
}
.filter {
  background-color: rgba(223, 209, 201, 0.6);
}

.mainTitle {
  margin: 0;
  padding: 2.5%;
  font-size: 4em;
  color: rgb(107, 93, 87);
}

.wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 5%;
}

.secondaryColor {
  background-color: var(--secondary-color) !important;
}

.card {
  background-color: rgb(107, 93, 87);
  margin: 10px 0;
  border-radius: 25px;
  overflow: hidden;
}
.cardHeader {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset;
}
.coverPicture {
  background-size: cover;
  height: 200px;
}
.logo {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  bottom: -55px;
  border: 3px solid rgb(107, 93, 87);
}
.cardTitle {
  margin-top: 70px;
  margin-left: 20px;
  padding: 0;
}
.cardContent {
  margin: 20px;
}
.tagsWrapper {
  display: flex;
  margin: 20px;
  color: rgb(107, 93, 87);
  font-size: .9em;
}
.tag {
  background-color: #dfd1c9;
  padding: 5px 15px;
  border-radius: 15px;
  margin-right: 10px;
}
.isInView .card {
  animation: 1s anim-lineUp ease-in-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .mainTitle {
    font-size: 2.5em;
  }

  .wrapper {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .card {
    margin: 25px 0;
  }
  .card:first-child {
    margin-top: 0;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
