.container {
  height: 100vh;
}

.mainTitle {
  margin: 0;
  padding: 2.5%;
  font-size: 4em;
  color: rgb(107, 93, 87)
}

@media screen and (max-width: 1200px) {
  .mainTitle {
    font-size: 2.5em;
  }
}